node_modules/
dist/
.next/
*.log
.env
.env.*
!.env.example
.env*.local
.env.production
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
attached_assets/
zipFile.zip
api-server/update-pg.js
.github/workflows/deploy.yml
api-server/uploads/
web-client/public/uploads/*
!web-client/public/uploads/1781644852147-pcy2n1.jpg
!web-client/public/uploads/1781644855465-frmous.jpg
!web-client/public/uploads/1781644859054-tpt9zs.jpg
